@import "tailwindcss";

@theme {
  --color-main: #3B4250;
  --color-sub: #5F5E6E;
  --color-subsub: #897272;
  --color-tab: #8499AC;
  --color-white: #EBEDEE;
  --color-green: #3CB371;
  --color-red: #B82132;
}

.hover-small:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
  background-color: #9290a2;
}

.hover-big:hover {
  transform: scale(1.3);
}

.hover-image:active {
  transform: scale(2);
  position: relative;
  right: 50%;
  border: 3px solid #3CB371;
  z-index: 1;
}

.active-stage:active {
  transform: scale(0.5);
  position: absolute;
  right: -20%;
  top: 0%;
  border: 8px solid #3CB371;
  z-index: 1;
}

.click-action:active, button:active {
  transform: scale(0.8);
  transition: transform 0.1s;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}